<div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
    <ul class="navbar-nav  ">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index"> MasterPage</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" asp-action="Home" asp-controller="Educuts">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="about.html"> About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Products" asp-action="Furnitures">Furnitures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Blogs">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Contactus" asp-controller="Educuts">Contact Us</a>
        </li>

    </ul>
</div>