@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Blog Create";
}
@model HSJProject.DataModels.Blog

<div class="card card-info col-12 justify-content-center m-0">
    <div class="card-header">
        <h3 class="card-title">
            Create a New Blog
        </h3>
    </div>
    <form asp-action="BlogCreate" asp-controller="Blogs">
        <div class="card-body">

            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" asp-for="BlogTitle">
            </div>

            <div class="form-group">
                <label>Blog Content:</label>
                <input type="text" class="form-control" asp-for="BlogContent">
            </div>

            <div class="form-group">
                <label>Blog Thumbnails::</label>
                <input type="text" class="form-control" asp-for="BlogThumbnails">
            </div>

            
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>